<!doctype html>
<html>
<head>
    <title>My travel site</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <img src="/img/girl.jpg" alt="旅游小姐代表">
</header>
<!-- Handlebars 的注释看起来像 {{! comment goes here }} -->
<!--三重大括号关闭 HTML 转义的功能 -->
{{{body}}}
</body>
</html>